.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.input-salary {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
}

input {
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px lightgray;
  font-size: 1.1em;
}

.input-salary input {
  height: 18px;
}

.readonly-inputs-container {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
